<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236927062295-vkfmj51hvpj6mbgrdo2bk5pj4jjpbcjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236927062295-vkfmj51hvpj6mbgrdo2bk5pj4jjpbcjp</string>
	<key>API_KEY</key>
	<string>AIzaSyCF3tLTCdVspxTC8cavscD4vZSLHSVz4ng</string>
	<key>GCM_SENDER_ID</key>
	<string>236927062295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instacurFlutter</string>
	<key>PROJECT_ID</key>
	<string>instacut-7cd04</string>
	<key>STORAGE_BUCKET</key>
	<string>instacut-7cd04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236927062295:ios:a63f7041e58b99a64b2752</string>
</dict>
</plist>